In [333]:
import pandas as pd
import datetime
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from functools import reduce
from collections import Counter
import featuretools as ft

In [334]:
df = pd.read_csv("../data/raw/train_8wry4cB.csv")
def standard_datetime(column,format: str ="%d/%m/%y %H:%M"):
    return pd.to_datetime(column , format=format)
def standardize(df,drop_session_id=False):
    df.startTime = standard_datetime(df.startTime)
    df.endTime = standard_datetime(df.endTime)
    df.rename(columns={"ProductList":"product_list","startTime":"start_time","endTime":"end_time"},inplace=True)
    if not drop_session_id:
        df.drop(columns=["session_id"],inplace=True)

    for index,value in enumerate(["cat" , "sub-cat","sub-sub-cat","product"]):
        df[value] = df.product_list.apply(lambda x : [i.split("/")[index] for i in x.split(";")])
    return df
standardize(df,True)
df.head()

,session_id,start_time,end_time,product_list,gender,cat,sub-cat,sub-sub-cat,product
0,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,female,"[A00002, A00002, A00002, A00002]","[B00003, B00003, B00003, B00003]","[C00006, C00006, C00006, C00006]","[D28435, D02554, D28436, D28437]"
1,u10253,2014-12-16 14:35:00,2014-12-16 14:41:00,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,male,"[A00001, A00001, A00001, A00001, A00001, A0000...","[B00009, B00009, B00009, B00009, B00009, B0000...","[C00031, C00031, C00031, C00031, C00031, C0003...","[D29404, D02617, D29407, D29410, D29411, D2544..."
2,u19037,2014-12-01 15:58:00,2014-12-01 15:58:00,A00002/B00001/C00020/D16944/,female,[A00002],[B00001],[C00020],[D16944]
3,u14556,2014-11-23 02:57:00,2014-11-23 03:00:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,female,"[A00002, A00002, A00002]","[B00004, B00004, B00004]","[C00018, C00018, C00018]","[D10284, D10285, D10286]"
4,u24295,2014-12-17 16:44:00,2014-12-17 16:46:00,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,male,"[A00001, A00001]","[B00001, B00001]","[C00012, C00012]","[D30805, D30806]"

In [205]:
m_set = reduce(lambda x,y: set(x).union(set(y)), df[df["gender"]=="male"]["product"])
f_set = reduce(lambda x,y: set(x).union(set(y)), df[df["gender"]=="female"]["product"])
m = Counter(reduce(lambda x,y: x +y, df[df["gender"]=="male"]["product"]))
f = Counter(reduce(lambda x,y: x+y, df[df["gender"]=="female"]["product"]))

In [209]:
print(f_set.intersection(m_set).__len__())
[(i , f[i],m[i]) for i in f_set.intersection(m_set) if abs(f[i]-m[i]) >= 5]

583

[('D12722', 6, 1),
 ('D00540', 6, 1),
 ('D02075', 10, 1),
 ('D00138', 1, 7),
 ('D02309', 8, 2),
 ('D18017', 6, 1),
 ('D08480', 21, 3),
 ('D00647', 14, 2),
 ('D00018', 16, 1),
 ('D00297', 18, 1),
 ('D03538', 10, 1),
 ('D04037', 7, 1),
 ('D02174', 14, 1),
 ('D04630', 7, 1),
 ('D17983', 12, 1),
 ('D02910', 8, 1),
 ('D20066', 7, 1),
 ('D05313', 8, 1),
 ('D00154', 9, 3),
 ('D03244', 10, 2),
 ('D06588', 10, 1),
 ('D00900', 20, 2),
 ('D25682', 8, 2),
 ('D00266', 53, 2),
 ('D07360', 1, 7),
 ('D00550', 8, 1),
 ('D06180', 13, 2),
 ('D23853', 11, 2),
 ('D10307', 1, 14),
 ('D06987', 10, 1),
 ('D00399', 16, 2),
 ('D03126', 10, 1),
 ('D12310', 10, 1),
 ('D07353', 1, 6),
 ('D17897', 9, 1),
 ('D00920', 6, 1),
 ('D01058', 17, 1),
 ('D25231', 9, 1),
 ('D02355', 13, 1),
 ('D02136', 6, 1),
 ('D10681', 7, 1),
 ('D00172', 13, 1),
 ('D01076', 12, 2),
 ('D01080', 16, 3),
 ('D18464', 9, 1),
 ('D04255', 8, 1),
 ('D01175', 8, 1),
 ('D01670', 1, 7),
 ('D00232', 28, 2),
 ('D04674', 11, 2),
 ('D01814', 11, 3),
 ('D00801', 15, 4),
 ('D00205', 23, 3),
 ('D20565', 9, 1),
 ('D17250', 7, 1),
 ('D03233', 7, 1),
 ('D00457', 9, 1),
 ('D19604', 9, 1),
 ('D01034', 35, 1),
 ('D12067', 13, 1),
 ('D15336', 6, 1),
 ('D06755', 8, 2),
 ('D10072', 8, 1),
 ('D05339', 5, 16)]

In [285]:
test_df = pd.read_csv("../data/raw/test_Yix80N0.csv")
standardize(test_df,drop_session_id=False)
test_df.head()

,start_time,end_time,product_list,cat,sub-cat,sub-sub-cat,product
0,2014-12-08 13:36:00,2014-12-08 13:36:00,A00002/B00003/C00006/D19956/,[A00002],[B00003],[C00006],[D19956]
1,2014-12-19 13:52:00,2014-12-19 13:52:00,A00002/B00005/C00067/D02026/,[A00002],[B00005],[C00067],[D02026]
2,2014-12-01 10:44:00,2014-12-01 10:44:00,A00002/B00002/C00004/D12538/,[A00002],[B00002],[C00004],[D12538]
3,2014-12-08 20:19:00,2014-12-08 20:22:00,A00002/B00003/C00079/D22781/;A00002/B00003/C00...,"[A00002, A00002, A00002, A00002]","[B00003, B00003, B00003, B00003]","[C00079, C00079, C00079, C00079]","[D22781, D22782, D19325, D22786]"
4,2014-12-15 19:33:00,2014-12-15 19:33:00,A00002/B00001/C00010/D23419/,[A00002],[B00001],[C00010],[D23419]

In [169]:
only_f = f_set-m_set
only_m = m_set-f_set
def f(x):
    m_count = f_count=0
    for i in x:
        if i in only_f:
            f_count = f_count + 1
        elif i in only_m:
            m_count = m_count + 1
    if f_count>m_count:
        return 0
    elif m_count>f_count:
        return 1
    else:
        return 0

In [170]:
sub = pd.read_csv("../data/raw/test_Yix80N0.csv")
sub["gender"]=test_df["product"].apply(lambda x:f(x))
sub.drop(columns =["startTime","endTime","ProductList"],inplace=True)
sub.gender = sub.gender.map({0:"female",1:"male"})
sub.gender.value_counts()
sub.to_csv("second_submission.csv",index=False)

## Sub -sub cat

In [238]:
    
def func(x):
    m_count = f_count=0
    for i in x:
        if i in only_f:
            f_count = f_count + 1
        elif i in only_m:
            m_count = m_count + 1
    if f_count>m_count:
        return 0
    elif m_count>f_count:
        return 1
    else:
        return 0
    
m_set = reduce(lambda x,y: set(x).union(set(y)), df[df["gender"]=="male"]["sub-sub-cat"])
f_set = reduce(lambda x,y: set(x).union(set(y)), df[df["gender"]=="female"]["sub-sub-cat"])
m = Counter(reduce(lambda x,y: x +y, df[df["gender"]=="male"]["sub-sub-cat"]))
f = Counter(reduce(lambda x,y: x+y, df[df["gender"]=="female"]["sub-sub-cat"]))
only_f = f_set-m_set
only_m = m_set-f_set

In [239]:
only_f.__len__()

120

In [240]:
only_m.__len__()

47

In [241]:
model  = pd.read_csv("mix_model_patter.csv")

In [244]:
test_index = test_df[test_df["sub-sub-cat"].apply(func) == 1].index

In [247]:
model.gender.value_counts()

female    3656
male       844
Name: gender, dtype: int64

In [248]:
model.loc[test_index,["gender"]]="male"

In [250]:
model.gender.value_counts()

female    3647
male       853
Name: gender, dtype: int64

In [251]:
model.to_csv("model_mix_sub_sub_cat.csv",index=False)

# product female

In [324]:
def func(x):
    m_count = f_count=0
    for i in x:
        if i in only_f:
            f_count = f_count + 1
        elif i in only_m:
            m_count = m_count + 1
    if f_count!=0 and m_count==0:
        return 0
    elif m_count!=0  and f_count==0:
        return 1
    else:
        return None
    
m_set = reduce(lambda x,y: set(x).union(set(y)), df[df["gender"]=="male"]["product"])
f_set = reduce(lambda x,y: set(x).union(set(y)), df[df["gender"]=="female"]["product"])
m = Counter(reduce(lambda x,y: x +y, df[df["gender"]=="male"]["product"]))
f = Counter(reduce(lambda x,y: x+y, df[df["gender"]=="female"]["product"]))
only_f = f_set-m_set
only_m = m_set-f_set
flag = ["only_f_product" , "only_m_product"]
for i,val in enumerate(flag):
    df[val] = df["product"].apply(func) == i

In [298]:
m_set = reduce(lambda x,y: set(x).union(set(y)), df[df["gender"]=="male"]["sub-sub-cat"])
f_set = reduce(lambda x,y: set(x).union(set(y)), df[df["gender"]=="female"]["sub-sub-cat"])
m = Counter(reduce(lambda x,y: x +y, df[df["gender"]=="male"]["sub-sub-cat"]))
f = Counter(reduce(lambda x,y: x+y, df[df["gender"]=="female"]["sub-sub-cat"]))
only_f = f_set-m_set
only_m = m_set-f_set
flag = ["only_f_sub_sub_cat" , "only_m_sub_sub_cat"]
for i,val in enumerate(flag):
    df[val] = df["sub-sub-cat"].apply(func) == i

In [329]:
a

0        False
1        False
2        False
3        False
4        False
         ...
10495    False
10496    False
10497    False
10498    False
10499    False
Name: product, Length: 10500, dtype: bool

In [335]:
def func(x):
    m_count = f_count=0
    for i in x:
        if i in only_f:
            f_count = f_count + 1
        elif i in only_m:
            m_count = m_count + 1
    if f_count!=0 and m_count==0:
        return 0
    elif m_count!=0  and f_count==0:
        return 1
    else:
        return None

def flag_product(df):
    global only_f,  only_m
    m_set = reduce(lambda x,y: set(x).union(set(y)), df[df["gender"]=="male"]["product"])
    f_set = reduce(lambda x,y: set(x).union(set(y)), df[df["gender"]=="female"]["product"])
    only_f = f_set-m_set
    only_m = m_set-f_set

    flag = ["only_f_product" , "only_m_product"]
    for i,val in enumerate(flag):
        df[val] = df["product"].apply(func) == i

In [336]:
flag_product(df)

In [337]:
df

,session_id,start_time,end_time,product_list,gender,cat,sub-cat,sub-sub-cat,product,only_f_product,only_m_product
0,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,female,"[A00002, A00002, A00002, A00002]","[B00003, B00003, B00003, B00003]","[C00006, C00006, C00006, C00006]","[D28435, D02554, D28436, D28437]",True,False
1,u10253,2014-12-16 14:35:00,2014-12-16 14:41:00,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,male,"[A00001, A00001, A00001, A00001, A00001, A0000...","[B00009, B00009, B00009, B00009, B00009, B0000...","[C00031, C00031, C00031, C00031, C00031, C0003...","[D29404, D02617, D29407, D29410, D29411, D2544...",False,True
2,u19037,2014-12-01 15:58:00,2014-12-01 15:58:00,A00002/B00001/C00020/D16944/,female,[A00002],[B00001],[C00020],[D16944],True,False
3,u14556,2014-11-23 02:57:00,2014-11-23 03:00:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,female,"[A00002, A00002, A00002]","[B00004, B00004, B00004]","[C00018, C00018, C00018]","[D10284, D10285, D10286]",True,False
4,u24295,2014-12-17 16:44:00,2014-12-17 16:46:00,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,male,"[A00001, A00001]","[B00001, B00001]","[C00012, C00012]","[D30805, D30806]",False,True
5,u20964,2014-12-12 15:31:00,2014-12-12 15:31:00,A00002/B00002/C00081/D25039/,female,[A00002],[B00002],[C00081],[D25039],True,False
6,u20981,2014-12-05 19:33:00,2014-12-05 19:34:00,A00002/B00011/C00180/D18487/;A00002/B00011/C00...,female,"[A00002, A00002]","[B00011, B00011]","[C00180, C00114]","[D18487, D18459]",True,False
7,u15947,2014-12-09 16:02:00,2014-12-09 16:06:00,A00002/B00001/C00059/D15254/;A00002/B00001/C00...,male,"[A00002, A00002, A00002]","[B00001, B00001, B00002]","[C00059, C00059, C00002]","[D15254, D00900, D02063]",False,True
8,u18193,2014-11-25 11:55:00,2014-11-25 11:55:00,A00002/B00001/C00010/D06129/,male,[A00002],[B00001],[C00010],[D06129],False,False
9,u21820,2014-12-06 16:16:00,2014-12-06 16:17:00,A00002/B00001/C00010/D12841/;A00002/B00002/C00...,female,"[A00002, A00002]","[B00001, B00002]","[C00010, C00112]","[D12841, D20047]",True,False
10,u13480,2014-11-15 12:32:00,2014-11-15 12:32:00,A00002/B00007/C00024/D02625/,female,[A00002],[B00007],[C00024],[D02625],True,False
11,u14242,2014-12-08 22:42:00,2014-12-08 22:42:00,A00002/B00002/C00002/D22971/,female,[A00002],[B00002],[C00002],[D22971],True,False
12,u11583,2014-12-22 13:12:00,2014-12-22 13:22:00,A00002/B00001/C00150/D35471/;A00002/B00001/C00...,female,"[A00002, A00002, A00002, A00002, A00002, A00002]","[B00001, B00001, B00001, B00001, B00001, B00001]","[C00150, C00049, C00150, C00177, C00177, C00150]","[D35471, D33572, D35478, D02157, D03547, D35483]",True,False
13,u13018,2014-11-17 20:53:00,2014-11-17 20:53:00,A00001/B00031/C00044/D01652/;A00001/B00031/C00...,male,"[A00001, A00001]","[B00031, B00031]","[C00044, C00044]","[D01652, D01867]",False,True
14,u22050,2014-12-07 23:28:00,2014-12-07 23:28:00,A00002/B00002/C00002/D21686/;A00002/B00002/C00...,female,"[A00002, A00002]","[B00002, B00002]","[C00002, C00007]","[D21686, D02584]",True,False
15,u16340,2014-11-19 15:23:00,2014-11-19 15:30:00,A00003/B00012/C00051/D07771/;A00003/B00012/C00...,female,"[A00003, A00003, A00003, A00003, A00003, A0000...","[B00012, B00012, B00012, B00012, B00012, B0001...","[C00051, C00051, C00051, C00051, C00051, C0005...","[D07771, D07773, D07774, D07757, D07759, D0776...",True,False
16,u17502,2014-11-29 15:23:00,2014-11-29 15:23:00,A00002/B00007/C00024/D03342/,female,[A00002],[B00007],[C00024],[D03342],True,False
17,u10649,2014-11-25 14:31:00,2014-11-25 14:32:00,A00003/B00022/C00048/D11574/;A00003/B00022/C00...,female,"[A00003, A00003]","[B00022, B00022]","[C00048, C00048]","[D11574, D11579]",True,False
18,u24301,2014-12-17 16:47:00,2014-12-17 16:47:00,A00002/B00001/C00075/D30808/,female,[A00002],[B00001],[C00075],[D30808],True,False
19,u17680,2014-11-25 20:39:00,2014-11-25 20:40:00,A00002/B00004/C00129/D10706/;A00002/B00004/C00...,female,"[A00002, A00002]","[B00004, B00004]","[C00129, C00129]","[D10706, D11998]",True,False
20,u13716,2014-12-08 13:33:00,2014-12-08 13:33:00,A00004/B00013/C00083/D22322/,male,[A00004],[B00013],[C00083],[D22322],False,True
21,u13756,2014-12-20 19:58:00,2014-12-20 19:59:00,A00003/B00022/C00036/D27803/,female,[A00003],[B00022],[C00036],[D27803],True,False
22,u22367,2014-12-20 21:15:00,2014-12-20 21:16:00,A00002/B00003/C00006/D30329/;A00002/B00003/C00...,male,"[A00002, A00002]","[B00003, B00003]","[C00006, C00006]","[D30329, D34372]",False,True
23,u18730,2014-12-14 16:15:00,2014-12-14 16:15:00,A00002/B00001/C00059/D03308/,female,[A00002],[B00001],[C00059],[D03308],True,False
24,u10829,2014-12-19 12:38:00,2014-12-19 12:39:00,A00002/B00003/C00079/D28653/,female,[A00002],[B00003],[C00079],[D28653],True,False
25,u19908,2014-12-12 20:17:00,2014-12-12 20:19:00,A00002/B00010/C00095/D25319/;A00002/B00010/C00...,female,"[A00002, A00002, A00002]","[B00010, B00010, B00010]","[C00095, C00095, C00095]","[D25319, D15819, D25321]",True,False
26,u19899,2014-11-29 21:57:00,2014-11-29 21:57:00,A00001/B00031/C00091/D16015/,male,[A00001],[B00031],[C00091],[D16015],False,True
27,u23233,2014-12-18 15:56:00,2014-12-18 15:56:00,A00002/B00003/C00046/D31170/,female,[A00002],[B00003],[C00046],[D31170],True,False
28,u17193,2014-11-22 11:27:00,2014-11-22 11:27:00,A00001/B00015/C00284/D09455/,female,[A00001],[B00015],[C00284],[D09455],True,False
29,u11953,2014-12-01 16:15:00,2014-12-01 16:15:00,A00001/B00009/C00038/D00645/,male,[A00001],[B00009],[C00038],[D00645],False,True
...,...,...,...,...,...,...,...,...,...,...,...
10470,u14314,2014-12-09 19:19:00,2014-12-09 19:19:00,A00001/B00015/C00043/D16057/,male,[A00001],[B00015],[C00043],[D16057],False,False
10471,u11673,2014-12-07 17:54:00,2014-12-07 17:58:00,A00003/B00012/C00051/D17990/;A00003/B00012/C00...,female,"[A00003, A00003, A00003, A00003, A00003, A0000...","[B00012, B00012, B00012, B00012, B00012, B0001...","[C00051, C00051, C00051, C00051, C00051, C0005...","[D17990, D17748, D00598, D20958, D01774, D0015...",True,False
10472,u20380,2014-12-20 13:33:00,2014-12-20 13:33:00,A00002/B00001/C00010/D25587/,female,[A00002],[B00001],[C00010],[D25587],True,False
10473,u14952,2014-12-21 22:02:00,2014-12-21 22:02:00,A00002/B00004/C00018/D35004/,female,[A00002],[B00004],[C00018],[D35004],True,False
10474,u22280,2014-12-08 09:06:00,2014-12-08 09:06:00,A00001/B00001/C00020/D21809/;A00001/B00001/C00...,male,"[A00001, A00001]","[B00001, B00001]","[C00020, C00019]","[D21809, D21810]",False,True
10475,u18000,2014-12-17 14:45:00,2014-12-17 14:45:00,A00002/B00004/C00018/D30598/,female,[A00002],[B00004],[C00018],[D30598],True,False
10476,u21734,2014-12-14 16:23:00,2014-12-14 16:24:00,A00002/B00003/C00005/D27219/;A00002/B00001/C00...,female,"[A00002, A00002, A00002, A00002, A00002]","[B00003, B00001, B00001, B00001, B00001]","[C00005, C00049, C00049, C00049, C00053]","[D27219, D27220, D27221, D27222, D27223]",True,False
10477,u22090,2014-12-13 14:54:00,2014-12-13 14:56:00,A00003/B00012/C00051/D00207/;A00003/B00012/C00...,female,"[A00003, A00003, A00003]","[B00012, B00012, B00012]","[C00051, C00051, C00051]","[D00207, D00154, D18017]",True,False
10478,u11526,2014-11-25 12:24:00,2014-11-25 12:25:00,A00003/B00021/C00055/D07787/;A00003/B00021/C00...,female,"[A00003, A00003]","[B00021, B00021]","[C00055, C00055]","[D07787, D11419]",True,False
10479,u15704,2014-11-19 18:33:00,2014-11-19 18:34:00,A00001/B00004/C00066/D07949/;A00002/B00004/C00...,male,"[A00001, A00002]","[B00004, B00004]","[C00066, C00066]","[D07949, D07935]",False,True
10480,u24287,2014-12-17 16:08:00,2014-12-17 16:13:00,A00002/B00003/C00037/D18269/;A00002/B00003/C00...,female,"[A00002, A00002, A00002, A00002, A00002, A0000...","[B00003, B00003, B00003, B00003, B00003, B0000...","[C00037, C00014, C00014, C00006, C00014, C0003...","[D18269, D00688, D30751, D01110, D30753, D3075...",True,False
10481,u13788,2014-11-15 10:49:00,2014-11-15 10:49:00,A00002/B00003/C00046/D02480/,female,[A00002],[B00003],[C00046],[D02480],True,False
10482,u13481,2014-11-17 09:43:00,2014-11-17 09:47:00,A00002/B00007/C00017/D04614/;A00002/B00007/C00...,female,"[A00002, A00002, A00002, A00002]","[B00007, B00007, B00007, B00003]","[C00017, C00017, C00016, C00014]","[D04614, D04319, D05136, D05138]",True,False
10483,u20875,2014-12-19 11:48:00,2014-12-19 11:49:00,A00002/B00003/C00005/D27885/,female,[A00002],[B00003],[C00005],[D27885],True,False
10484,u21056,2014-12-12 13:06:00,2014-12-12 13:08:00,A00002/B00001/C00150/D23746/;A00005/B00018/C00...,female,"[A00002, A00005]","[B00001, B00018]","[C00150, C00351]","[D23746, D24811]",True,False
10485,u10911,2014-12-06 15:14:00,2014-12-06 15:14:00,A00002/B00002/C00007/D00266/,female,[A00002],[B00002],[C00007],[D00266],False,False
10486,u12071,2014-11-25 22:41:00,2014-11-25 22:41:00,A00002/B00002/C00007/D03133/,female,[A00002],[B00002],[C00007],[D03133],True,False
10487,u24317,2014-12-17 18:54:00,2014-12-17 18:54:00,A00002/B00007/C00016/D30900/,female,[A00002],[B00007],[C00016],[D30900],True,False
10488,u23587,2014-12-15 21:10:00,2014-12-15 21:10:00,A00005/B00032/C00094/D28677/,female,[A00005],[B00032],[C00094],[D28677],True,False
10489,u13193,2014-12-21 17:20:00,2014-12-21 17:20:00,A00003/B00035/C00106/D34823/,female,[A00003],[B00035],[C00106],[D34823],True,False
10490,u10750,2014-11-14 09:05:00,2014-11-14 09:05:00,A00003/B00012/C00048/D00230/,female,[A00003],[B00012],[C00048],[D00230],True,False
10491,u14994,2014-11-16 22:49:00,2014-11-16 22:49:00,A00002/B00001/C00053/D01058/;A00002/B00001/C00...,female,"[A00002, A00002]","[B00001, B00001]","[C00053, C00010]","[D01058, D01034]",False,False
10492,u14907,2014-11-27 22:46:00,2014-11-27 22:46:00,A00002/B00002/C00002/D09800/,female,[A00002],[B00002],[C00002],[D09800],True,False
10493,u24416,2014-12-18 11:13:00,2014-12-18 11:13:00,A00002/B00006/C00015/D31395/,female,[A00002],[B00006],[C00015],[D31395],True,False
10494,u24315,2014-12-17 18:21:00,2014-12-17 18:21:00,A00001/B00001/C00075/D30306/,male,[A00001],[B00001],[C00075],[D30306],False,True
10495,u15442,2014-11-18 07:39:00,2014-11-18 07:42:00,A00002/B00002/C00007/D06407/;A00002/B00002/C00...,female,"[A00002, A00002]","[B00002, B00002]","[C00007, C00007]","[D06407, D06409]",True,False
10496,u17986,2014-11-25 15:16:00,2014-11-25 15:16:00,A00006/B00030/C00334/D11660/,female,[A00006],[B00030],[C00334],[D11660],True,False
10497,u22508,2014-12-09 10:11:00,2014-12-09 10:11:00,A00002/B00002/C00007/D18028/,female,[A00002],[B00002],[C00007],[D18028],True,False
10498,u17087,2014-11-22 11:27:00,2014-11-22 11:27:00,A00003/B00012/C00131/D09453/;A00003/B00012/C00...,female,"[A00003, A00003]","[B00012, B00012]","[C00131, C00073]","[D09453, D09454]",True,False
10499,u23137,2014-12-19 03:11:00,2014-12-19 03:19:00,A00002/B00001/C00010/D02309/;A00002/B00002/C00...,female,"[A00002, A00002, A00002, A00003]","[B00001, B00002, B00001, B00004]","[C00010, C00002, C00059, C00089]","[D02309, D32450, D21254, D18619]",True,False